.message {
	width:81%;
	align-self:center;
	border:3px solid #8c9eff;
	border-radius:5px;
	margin:16px;
	padding:16px 8px;
	text-align:center;
	height:95px;
	display:flex;
	align-items:center;
	justify-content:center;
}

span {
	text-align:center;
	margin-top:8px;
	color:red;
}

@media all and (max-width:780px){
.message {
overflow-y:auto;
}
}